<%- include('partials/header') %>
<body>
    <h1>Book Reviews</h1>
    <% reviews.forEach(review => { %>
        <div class="review">
            <h2 style="background-color: #b4c9a6;">Username: <%= review.username %></h2>
            <h3>Rating: <%= review.rating %></h3>
            <p>Comment: <%= review.comment %></p>
        </div>
    <% }); %>
<%- include("partials/footer") %>
